<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Tenders List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Автоматизированный поиск тендеров</h1>
                <p class="lead fw-normal text-muted mb-0">Актуальные тендеры</p>
            </div>
            <div class="row gx-5">
                <div>
                    <form th:action="@{/tenders/search}" class="form-inline my-2 my-lg-0 mb-3">
                        <input name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="Поиск тендеров"
                               aria-label="Поиск">
                    </form>
                </div>
                <div th:each="tender : ${tenders}" class="col-lg-6 mb-2">
                    <div class="position-relative mb-3">
                        <a th:text="${tender.title}" class="h3 fw-bolder text-decoration-none link-dark stretched-link"
                           th:href="@{/tenders/tender.id}"></a>
                        <!-- Add start date, end date, and type below the title -->
                        <p class="fw-normal text-muted mb-1">Дата открытия: <span th:text="${tender.openDate}"></span></p>
                        <p class="fw-normal text-muted mb-1">Дата закрытия: <span th:text="${tender.closeDate}"></span></p>
                        <p class="fw-normal text-muted mb-1">Тип тендера: <span th:text="${tender.type}"></span></p>
                    </div>
                    <a class="btn btn-primary" th:href="@{/tenders/{tenderId}(tenderId=${tender.id})}">Просмотр</a>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 bg-light">
        <div class="container px-5 my-5">
            <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
            <a class="btn btn-lg btn-primary" href="#!">Contact us</a>
        </div>
    </section>
</main>
</body>
</html>
